.row
  .col-lg-12
    %h1
      ch
      #{fa_icon("slack")}
      #{fa_icon("git")}

.row
  .col-lg-12
    = link_to root_path do
      #{fa_icon("refresh")}
      %span refresh

- @body.each do |date, commits|
  .row
    .col-lg-12
      %h3.text-center
        #{fa_icon("hand-o-right")}
        #{human_date(date)}
      %hr

  .row.commits
    .col-lg-12
      - commits.reverse.each do |hash|
        .row.commit
          .col-lg-12
            .row
              .col-lg-12
                %span.lead
                  %em
                    %strong
                      #{link_to(hash["sha"][0..5], hash["html_url"], target: "_blank")}
                  %small
                    committed by #{hash["committer"]["login"]}

            .row
              .col-lg-12
                %p
                  #{fa_icon("clock-o")}
                  #{human_time(hash["commit"]["committer"]["date"])}

            %div
              %blockquote #{hash["commit"]["message"]}
